
{{#each saved}}
<div class="articles" id={{this._id}}>
	<h2>
	<a href="{{this.URL}}" target="_blank">{{this.headline}}</a></h2>

	<form action="/save/{{this._id}}" method="POST">
	<button type="submit" class="position" value="{{this.position}}">{{this.position}}</button>
	</form>

	<img class="media" src="{{this.image}}">

</div>
{{/each}}